* {
    box-sizing: border-box;
}

body {
    background-color: #90c7e3;
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
    margin: 0;

}

header {
    background-color: #002171;
    color: #FFFFFF;
    font-family: Georgia, serif;
    padding: 1em;
}

header a, header a:link, header a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

header a:hover {
    text-decoration: none;
    color: #90C7E3;
}

h1 {
    text-align: center;
    font-family: 'Brush Script Mt', cursive;
    font-size: 1.5em;
}

nav {
    /* padding: 0;
    font-weight: bold; */
    font-size: 1.2em;
    /* float: left;
    width: 160px;
    position: fixed; */
    background-color: white;
    text-align: center;

}

nav ul {
    list-style: none;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 0;

}

nav li {
    padding: 0.5em 1em;
    width: 100%;
    border-bottom: 1px solid;
}

nav a {
    text-decoration: none;
}

nav a:link {
    color: #5C7FA3;
}

nav a:visited {
    color: #344873;
}

nav a:hover {
    color: #A52A2A;
}

h2 {
    color: #1976D2;
    font-family: Georgia, serif;
}

h3 {
    font-family: Georgia, serif;
}

dt {
    color: #002171;
    font-weight: bold;
}

.resort {
    color: #1976D2;
    font-size: 1.2em;
}

footer {
    font-size: .70em;
    font-style: italic;
    text-align: center;
    padding: 1em;
    clear: right;
    background-color: #FFFFFF;
}

#wrapper {
    background-color: #FFFFFF;
}

.special {
    font-weight: bold;
    color: #660099;
}

main {
    display: block;
    padding: 0 1em;
}

#homehero {
    height: 300px;
    background-image: url(images/coast.jpg);
    background-size: 200% 100%;
    background-repeat: no-repeat;
}

#yurthero {
    height: 300px;
    background-image: url(images/yurt.jpg);
    background-size: 200% 100%;
    background-repeat: no-repeat;

}

#trailhero {
    height: 300px;
    background-image: url(images/trail.jpg);
    background-size: 200% 100%;
    background-repeat: no-repeat;
}

section {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#mobile {
    display: inline;
}

#desktop {
    display: none;
}

@media only screen and (min-width: 600px) {
    h1 {
    font-size: 2em;
    letter-spacing: 0.25em;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-right: 2em;
    }

    nav li {
        width: 12em;
        border-bottom: none;
    }

    section {
        padding-right: 2em;
        padding-left: 2em;
    }

    #flow {
        display: flex;
        flex-direction: row;
    }

    #mobile {
        display: none;
    }

    #desktop {
        display: inline;
    }

    #homehero, #yurtshero, #trailhero {
        background-size: 100% 100%;
    }


}


@media only screen and (min-width: 1024px) {
    
    body {
        background-image: linear-gradient(to bottom, white 20%, #90C7E3 60%, white 100%);

    }

    nav ul {
        padding-right: 10%;
        padding-left: 10%;
    }

    #wrapper {
        margin: auto;
        width: 80%;

    }


}